body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000; 
    width: 100%;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

.content {
    padding: 80px 20px; 
}

section {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

section h2 {
    margin-top: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.container {
    position: relative;
    min-height: 100vh; 
}


.quadrato {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;  
    height: 100px; 
    background-color: red; 
    transition: opacity 0.3s ease-in-out; 
}

