p {
    color: blue;
    /*text-align: right;*/
}

h1 {
    color: rgb(14, 55, 216);
}

h2 {
    color: brown;
}

h3 {
    color: blueviolet;
}

h4 {
    color: red;
}

h5 {
    color: green;
}

h6 {
    color:orange;
}

#colorh5 {
    background-color: purple;
    padding: 10px;
}

.testclass {
    background-color: aqua;
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.testclass2 {
    letter-spacing: 3px;
    text-decoration:line-through;
}

/* {
    box-sizing: border-box;
} /*/

.sameclass {
    background-color: greenyellow;
    display: block;
    width: 100%
}

a {
    color: blue;  
    text-decoration: none;  
}


a:hover {
    color: red;  
}

ul li:last-child {
    font-weight: bold; 
    color: red; 
}


ul li:last-child::after {
    content: "ciao";
    font-style: italic; 
    color: blue; 
}

#firstid {
    color: green;
}

.firstclass {
    color: yellow;
}

.divclass {
    text-align: center;
    color: blue;
}

.rgbcolor {
    color: rgb(193, 101, 101);
}

.color10 {
    color: #000;
}

.colortrasparent {
    color: rgb(128, 9, 0);
    opacity: 0.3;
}

.colorname {
    color: tomato;
}

.quadrato1 {
    width: 10%; 
    padding-top: 10%; 
    background-color: lightblue;
    position: relative;
}

.quadrato2 {
    width: 130px;
    padding-top: 130px;
    background-color: chartreuse;
    position: relative;
}

